<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/postcss/study_project.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header" ></div>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:insert="fragments/mypageSide :: sidebar" class="col-md-3 bd-sidebar"/>
        <main class="col-md-9 py-md-3  bd-content" role="main">
<div>
    <table class="table">
        <thead>
        <th scope="col">게시글 아이디</th>
        <th scope="col">팀스페이스 아이디</th>
        <th scope="col">멤버 상태</th>
        <th scope="col">팀스페이스 상태</th>
        <th scope="col"></th>
        <th scope="col"></th>
        </thead>
        <tbody th:if="${not #lists.isEmpty(team_list)}">
        <tr th:each="team : ${team_list}">
            <td th:if="${team.apply_status == 'false'}"><a th:href="@{/postDetail(post_id=${team.post_id})}" class="link-primary"><p th:text="${team.post_id}"></p></a></td>
            <td th:if="${team.apply_status != 'false'}"><a th:href="@{/attendanceMain(teamspace_id=${team.post_id})}" class="link-primary"><p th:text="${team.post_id}"></p></a></td>
            <td th:text="${team.teamspace_id}"></td>
            <td th:if="${team.apply_status == 'master'}">마스터</td>
            <td th:if="${team.apply_status == 'confirm'}">멤버</td>
            <td th:if="${team.apply_status == 'false'}">수락 대기</td>
            <td th:if="${team.teamspace_status}=='close'">
                종료
            </td>
            <td th:if="${team.teamspace_status}=='running'">
                진행중
            </td>
            <td th:if="${team.teamspace_status}=='wait'">
                대기중
            </td>
            <td th:if="${team.teamspace_status}=='close'">
                <form method="get" action="/ReviewTeammates">
                    <input type="hidden" th:value="${team.teamspace_id}" name="teamspace_id"/>
                    <input type="submit" class="btn btn-primary" value="리뷰 작성하기"/>
                </form>
            </td>
            <td th:if="${team.teamspace_status}=='running'">
                <form method="get" action="/attendanceMain">
                    <input type="hidden" th:value="${team.teamspace_id}" name="teamspace_id"/>
                    <input type="submit" class="btn btn-primary" value="팀스페이스 이동"/>
                </form>
            </td>
            <td th:if="${team.teamspace_status}=='wait'">
                <form method="get" th:action="@{/post/res/{formId}(formId=${team.post_id})}"><!-- 포스트 디테일 액션에 추가-->
                    <input type="hidden" th:value="${team.post_id}" name="post_id"/>
                    <input type="submit" class="btn btn-primary" value="게시글 이동"/>
                </form>
            </td>
            <td th:if="${team.teamspace_status}=='wait' and ${team.apply_status == 'master'}">
                <form method="get" action="/CreateTeamspace"><!-- 포스트 디테일 액션에 추가-->
                    <input type="hidden" th:value="${team.post_id}" name="post_id"/>
                    <input type="submit" class="btn btn-primary" value="신청 관리 이동"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
        </main>
    </div>
</div>
</div>
</body>
</html>